project_id = "rnwyflevkpamxhxkhkww"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
site_url = "http://localhost:5173"
additional_redirect_urls = ["https://localhost:5173"]
jwt_expiry = 3600
enable_signup = true

[auth.email]
enable_signup = true
double_confirm_changes = false
enable_confirmations = false

[functions.analyze-resume]
verify_jwt = true

[functions.match-candidates]
verify_jwt = true

[functions.recommend-jobs]
verify_jwt = true
